

nav {
  background-color: #808080;
      }

a {
        background-color: #ffbf00;
        color: white;
        text-decoration: none;
        display: block;
        float: left;
        padding: 35px;
      }

a:hover {
        background-color: #ee5f3c;
      }

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

body{
	text-align: center;
}
h1 {
	color:rgb(2,132,130);
    border-top:solid black 2px
}
h2 {
	color: #ffd700;
}


.card {	
height: 200px;
width: 150px;
border: 1px solid black;
border-radius: 10px;
background-color: yellow;
float:left;
margin:8%;

}
.board {
  height: 80%;
  width: 50%;
  display: inline-block;
}
footer{
    clear:both;
	background-color:#808080;
}
span{
	color: #ff0000;
}